<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Occupancy Categories</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post">


    <th:block th:each="category: ${occupancyCategories}">
        <div class="form-group">
            <label>
                <span th:text="${category.name}"></span>
                <input type="checkbox" name="occupancyCategoryIds" th:value="${category.id}" class=".checkbox-inline">
            </label>
        </div>
    </th:block>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>