<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


</head>
<body class="container">
<h3 th:text="${'Loan Details for ' + loan.subjectProperty}"></h3>
<nav th:replace="fragments :: navigation"></nav>


<table class="table table-striped table-sm w-auto">
    <tr class="table-info"  style="text-align: center;">
        <th colspan="2">Loan Details</th>
    </tr>
    <tr>
        <th>Borrower</th>
        <td th:text="${loan.borrowersName}"></td>
    </tr>
    <tr>
        <th>Subject Property</th>
        <td th:text="${loan.subjectProperty}"></td>
    </tr>
    <tr>
        <th>Transaction Type</th>
        <td th:text="${loan.loanDetails.transactionType}"></td>
    </tr>
    <tr>
        <th>Assuming a Credit Score of</th>
        <td th:text="${loan.loanDetails.estimatedCreditScore}"></td>
    </tr>
    <tr>
        <th>Property Type</th>
        <td th:text="${loan.loanDetails.propertyType}"></td>
    </tr>
    <tr>
        <th>Occupancy Type</th>
        <td th:text="${loan.loanDetails.occupancyType}"></td>
    </tr>
</table>
    <table class="table table-striped table-sm">
    <tr>
        <th>Purchase Price</th>
        <td th:text="'$' + ${loan.loanDetails.purchasePrice}"></td>
        <th>Home Owners Insurance (e)</th>
        <td th:text="'$' + ${loan.loanDetails.homeOwnersInsurance}"></td>
        <th>Real Estate Taxes (e)</th>
        <td th:text="'$' + ${loan.loanDetails.homeOwnersInsurance}"></td>
    </tr>
<tr>
    <th>Closing Date</th>
    <td style="text-align: center;" th:text="${loan.loanDetails.closingDate}" id="customDate"></td>
    <th style="text-align: right;">First Payment Due</th>
    <td style="text-align: center;" th:text="${loan.loanDetails.closingDate}" id="customDate"></td>
    </tr>
</table>


</table>
<table class="table table-striped">
    <tr style="text-align: center;" class="table-info text-center">
        <th colspan="4">Mortgage Information</th>
    </tr>

    <tr>
        <th></th>
        <th>30 Year</th>
        <th>20 Year</th>
        <th>15 Year</th>
    </tr>
    <tr>
        <th>Purchase Price</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Down Payment</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Loan Amount</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Interest Rate</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Term (years)</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>APR</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>CAPS for ARMS</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
</table>



</body>
</html>