<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h3 th:text="${'Loan Details for ' + loan.subjectProperty}"></h3>
<nav th:replace="fragments :: navigation"></nav>


<table class="table table-striped">
    <th>ID</th>
    <th>Borrower</th>
    <th>Subject Property</th>
    <th>Transaction Type</th>
    <tr><td th:text="${loan.id}"></td>
    <td th:text="${loan.borrowersName}"></td>
    <td th:text="${loan.subjectProperty}"></td>
    <td th:text="${loan.loanDetails.transactionType}"></td></tr>
</table>

<table class="table table-striped w-auto">
    <tr>
        <th>Assuming a Credit Score of</th>
        <td th:text="${loan.loanDetails.estimatedCreditScore}"></td>
    </tr>
    <tr>
        <th>Property Type</th>
        <td th:text="${loan.loanDetails.propertyType}"></td>
    </tr>
    <tr>
        <th>Occupancy Type</th>
        <td th:text="${loan.loanDetails.occupancyType}"></td>
    </tr>
    <tr>
        <th>Purchase Price</th>
        <td th:text="'$' + ${loan.loanDetails.purchasePrice}"></td>
    </tr>
    <tr>
        <th>Home Owners Insurance (e)</th>
        <td th:text="'$' + ${loan.loanDetails.homeOwnersInsurance}"></td>
    </tr>

        <th>Closing Date</th>
        <td th:text="${loan.loanDetails.closingDate}" class="customDate" onload="hello()"></td>
    </tr>
</table>

</body>
</html>