<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


</head>
<body class="container">
<h3>Loan Buddy</h3>
<nav th:replace="fragments :: navigation"></nav>
<br>
<br>
<table class="table table-striped table-sm w-auto">
    <tr class="table-info"  style="text-align: center;">
        <th colspan="2">Loan Details</th>
    </tr>
    <tr>
        <th>Borrower</th>
        <td th:text="${loan.borrowersName}"></td>
    </tr>
    <tr>
        <th>Subject Property</th>
        <td th:text="${loan.subjectProperty}"></td>
    </tr>
    <tr>
        <th>Transaction Type</th>
        <td th:text="${loan.loanDetails.transactionType}"></td>
    </tr>
    <tr>
        <th>Assuming a Credit Score of</th>
        <td th:text="${loan.loanDetails.estimatedCreditScore}"></td>
    </tr>
    <tr>
        <th>Property Type</th>
        <td th:text="${loan.loanDetails.propertyType}"></td>
    </tr>
    <tr>
        <th>Occupancy Type</th>
        <td th:text="${loan.loanDetails.occupancyType}"></td>
    </tr>
</table>
    <table class="table table-striped table-sm">
    <tr>
        <th>Purchase Price</th>
        <td th:text="'$' + ${loan.loanDetails.purchasePrice}"></td>
        <th>Home Owners Insurance (e)</th>
        <td th:text="'$' + ${loan.loanDetails.homeOwnersInsurance}"></td>
        <th>Real Estate Taxes (e)</th>
        <td th:text="'$' + ${loan.loanDetails.homeOwnersInsurance}"></td>
    </tr>
<tr>
    <th>Closing Date</th>
    <td style="text-align: center;" th:text="${closingDate}"></td>
    <th style="text-align: right;">First Payment Due</th>
    <td style="text-align: center;" th:text="${firstPaymentDate}" ></td>
    </tr>
</table>


</table>
<table class="table table-striped">
    <tr style="text-align: center;" class="table-info text-center">
        <th colspan="4">Mortgage Information</th>
    </tr>

    <tr>
        <th>Loan Term</th>
        <th>30 Year</th>
        <th>20 Year</th>
        <th>15 Year</th>
    </tr>
    <tr>
        <th>Purchase Price</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Down Payment</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Loan Amount</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Interest Rate</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Term (years)</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>APR</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>CAPS for ARMS</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
</table>
<table class="table table-striped">
    <tr style="text-align: center;" class="table-info text-center">
        <th colspan="4">Estimate Monthly Payment</th>
    </tr>

    <tr>
        <th>Loan Term</th>
        <th>30 Year</th>
        <th>20 Year</th>
        <th>15 Year</th>
    </tr>
    <tr>
        <th>First Mortgage</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Condo Fee</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Property Taxes</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>M.I. Factor</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>P.M.I.</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tfoot style="color: white;" class="bg-info">
        <th>Total</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tfoot>
</table>

<table class="table table-striped">
    <tr style="text-align: center;" class="table-info text-center">
        <th colspan="4" >Estimated Funds Needed to Close</th>
    </tr>

    <tr>
        <th>Loan Term</th>
        <th>30 Year</th>
        <th>20 Year</th>
        <th>15 Year</th>
    </tr>
    <tr>
        <th>Down Payment</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Lender Fees</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Fixed Rate Discount</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Title Insurance Fees <br> </th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Condo Questionnaire</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Prepaid Interest</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Escrow Reserves</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Earnest Money</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Seller-Paid Closing Costs</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Final Inspection Fee</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr class="bg-info" style="color: white;">
    <th>Total Funds to Close</th>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    </tr>
    <tr style="text-align: center;" class="table-warning text-center">
        <td colspan="4" style="font-style: italic;">This loan comparison is for informational purposes only. If you choose to apply for a loan, you will receive a Loan Estimate along with other disclosures. Rates are Fees are subject to change. This does not constitute a commitment to lend. The disclosed closing costs are estimates. Actual closing costs may vary.</td>
    </tr>
</table>

<table class="table table-striped">
    <tr style="text-align: center;" class="table-info text-center">
        <th colspan="4" >Loan Summary After 5 Years</th>
    </tr>

    <tr>
        <th>Loan Term</th>
        <th>30 Year</th>
        <th>20 Year</th>
        <th>15 Year</th>
    </tr>
    <tr>
        <th>Loan Balance</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Interest</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr>
        <th>Private Mortgage Insurance</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <tr class="bg-info" style="color: white;">
        <th>Total Interest and P.M.I. After 5 Years</th>
        <td>---</td>
        <td>---</td>
        <td>---</td>
    </tr>
    <table class="table table-striped">
        <tr style="text-align: center;" class="table-info text-center">
            <th colspan="4" >Lifetime of Loan Summary</th>
        </tr>

        <tr>
            <th>Loan Term</th>
            <th>30 Year</th>
            <th>20 Year</th>
            <th>15 Year</th>
        </tr>
        <tr>
            <th>Monthly Principal & Interest</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <th>Total Monthly Payments</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <th>Total Principal & Interest Payments</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <th>Total Interest Paid</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <th>Total P.M.I. Paid</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr class="bg-info" style="color: white;">
            <th>Total Interest and P.M.I.</th>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr style="text-align: center;" class="table-warning text-center">
            <td colspan="4" style="font-style: italic;">Conventional Loans Total Mortgage Insurance is calculated by 78% of the purchase price. You can request the M.I. to be removed at 80%</td>
        </tr>
</table>
</body>
</html>