<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1>New Loan Inquiry</h1>

<form method="post" action="/loans/new">
    <div class="form-group">
    <label>Name
    <input type="text" name="borrowersName" class="form-control"></label>
    </div>
    <div class="form-group">
    <label>Email
    <input type="email" name="borrowersEmail" class="form-control"></label><br>
    </div>

    <div class="form-group">
    <label>Estimated Credit Score
        <input type="number" name="borrowersCreditScore" class="form-control"></label>
    </div>

    <div class="form-group">
    <label>Subject Property Address
        <input type="text" name="subjectProperty" class="form-control"></label>
    </div>

    <div class="form-group">
    <label>Transaction Type
    <input type="radio" id="purchase" name="transactionType" value="purchase" class="radio-inline">
    <label for="purchase">Purchase</label>
    <input type="radio" id="refinance" name="transactionType" value="refinance" class="radio-inline">
        <label for="refinance">Refinance</label></label></div>
    <div class="form-group">
    <label>If Refinance, what are your goals?
        <input type="radio" id="lowerRate" name="refiGoals" value="lowerRate" class="radio-inline">
        <label for="lowerRate">Lower Rate</label>
        <input type="radio" id="lowerPayment" name="refiGoals" value="lowerPayment" class="radio-inline">
        <label for="lowerPayment">Lower Payment</label>
        <input type="radio" id="cash" name="refiGoals" value="cash" class="radio-inline">
        <label for="cash">Cash In Hand</label></label></div>


    <div class="form-group">
    <label>Occupancy Type
        <input type="radio" id="sfh" name="occupancyType" value="sfh" class="radio-inline">
        <label for="sfh">Single Family Home</label>
        <input type="radio" id="multFamilyHome" name="occupancyType" value="multFamilyHome" class="radio-inline">
        <label for="multFamilyHome">Multiple Family Home</label>
        <input type="radio" id="condo" name="occupancyType" value="condo" class="radio-inline">
        <label for="condo">Condo</label><br></label></div>

    <div class="form-group">
    <label>Purchase Price $
        <input type="number" name="purchasePrice" class="form-control"></label></div>

    <div class="form-group">
    <label>Real Estate Taxes $
        <input type="number" name="realEstateTaxes" class="form-control"></label><label>   Not Sure- assume 1.25% if in MO
        <input type="radio" name="estimatedTaxMO" class="radio-inline"></label></div>

    <div class="form-group">
    <label>Home Owners Insurance $
        <input type="number" name="homeOwnersInsurance" class="form-control"></label></div>

    <div class="form-group">
    <label>Loan Term (How long do you want to pay the loan back?)
        <input type="radio" id="30year" name="loanTerm" value="30year" class="radio">
        <label for="30year">30 Years</label>
        <input type="radio" id="20year" name="loanTerm" value="20year" class="radio">
        <label for="20year">20 Years</label>
        <input type="radio" id="15year" name="loanTerm" value="15year" class="radio">
        <label for="15year">15 Years</label><br></label>
        <input type="radio" id="arm" name="loanTerm" value="arm" class="radio">
        <label for="arm">Adjustable Rate Mortgage</label><br></label></div>


    <div class="form-group">
        <input type="submit" value="See Your Options" class="btn btn-success"></div>
</form>
</body>
</html>