<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1>New Loan Inquiry</h1>



<form method="post" action="/loans/new">
    <div class="form-group">
    <label>Name
    <input th:field="${loan.borrowersName}" class="form-control"></label>
        <p class="error" th:errors="${loan.borrowersName}"></p>

    </div>
    <div class="form-group">
    <label>Email
        <input th:field="${loan.loanDetails.borrowersEmail}" class="form-control"></label>
        <p class="error" th:errors="${loan.loanDetails.borrowersEmail}"></p>

    </div>

    <div class="form-group">
        <label>Subject Property Address
            <input th:field="${loan.subjectProperty}" class="form-control"></label>
        <p class="error" th:errors="${loan.subjectProperty}"></p>

    </div>

    <div class="form-group">
        <label>Transaction Type
            <select th:field="${loan.loanDetails.transactionType}">
                <option value="Purchase">Purchase</option>
                <option value="Refinance: Rate & Term">Refinance: Rate & Term</option>
                <option value="Refinance: Cash Out">Refinance: Cash Out</option>
            </select>
        </label>
    </div>


    <div class="form-group">
    <label>Estimated Credit Score
        <input th:field="${loan.loanDetails.estimatedCreditScore}" class="form-control"></label>
        <p class="error" th:errors="${loan.loanDetails.estimatedCreditScore}"></p>

    </div>

    <div class="form-group">
        <label>Property Type
            <select th:field="${loan.loanDetails.propertyType}">
                <option value="Single Family Residence">Single Family Residence</option>
                <option value="Multiple Family Residence">Multiple Family Residence</option>
                <option value="Condo">Condo</option>
                <option value="Townhouse">Townhouse</option>
            </select>
        </label>
    </div>


    <div class="form-group">
        <label>Occupancy Type
            <select th:field="${loan.loanDetails.occupancyType}">
                <option value="Owner Occupied">Owner Occupied</option>
                <option value="Not Owner Occupied">Not Owner Occupied</option>
                <option value="Second Home">Second Home</option>
                <option value="Rental">Rental</option>
            </select>
        </label>
    </div>


    <div class="form-group">
    <label>Purchase Price $
        <input th:field="${loan.loanDetails.purchasePrice}" class="form-control"></label>
        <p class="error" th:errors="${loan.loanDetails.purchasePrice}"></p></div>


    <div class="form-group">
    <label>Home Owners Insurance $
        <input th:field="${loan.loanDetails.homeOwnersInsurance}" class="form-control"></label>
        <p class="error" th:errors="${loan.loanDetails.homeOwnersInsurance}"></p></div>

    <div>
        <label>Closing Date
            <input type="date" th:field="${loan.loanDetails.closingDate}" class="form-control"/>
        </label>
        <p class="error" th:errors="${loan.loanDetails.closingDate}"></p>
    </div>


    <div class="form-group">
        <input type="submit" value="See Your Options" class="btn btn-success"></div> </form>
</body>
</html>