<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Transaction Types</h1>
<nav th:replace="fragments :: navigation"></nav>

<nav>
    <a class="nav-item" href="/transactionCategories/create">Create</a>
    <a  class="nav-item" href="/transactionCategories/delete">Delete</a>
</nav>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Transaction Types</th>
    </tr>
    </thead>
    <tr th:each="category : ${transactionCategories}">
        <td th:text="${category.name}"></td>
    </tr>

</table>

</body>
</html>
